.bgsec4{
        background: url('../../../assets/bgsec4.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1000px;
        
        
}
.progress1{
    background: linear-gradient(150deg,#2241AC, #4FC0FF,#4FC0FF );
    height: 3px;
    width: 190px;
}
.progress2{
    background: linear-gradient(150deg,#2241AC, #4FC0FF,#4FC0FF );
    height: 3px;
    width: 80px;
}
.bgSec4Card{
    background: linear-gradient(150deg,#2241AC, #2240acda,#4FC0FF );
}
@media screen and (min-width:320px){
    .cardSec3{
    width: 51.45% !important;
  }

  .bgsec4 {
    background: url("../../../assets/bgsec4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Makes it stretch and cover the full area */
    width: 100%;
    height: 1700px !important; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 300px !important;
}
.section4Pos{
    top: 650px;
    left: 0;
}

}
@media screen and (min-width:768px){
    .cardSec3{
    width: 51.45% !important;
  }

  .bgsec4 {
    background: url("../../../assets/bgsec4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Makes it stretch and cover the full area */
    width: 100%;
    height: 1700px !important; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 300px !important;
}
.section4Pos{
    top: 830px;
    left: 130px;
}

}

@media (max-width:1090px) {
       
    .widthCard4{
        width: 90% !important;
    }
    .bgsec4 {
        background: url("../../../assets/bgsec4.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; /* Makes it stretch and cover the full area */
        width: 100%;
        height: 1500px; 
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .name{
        height: 370px;
    }
}@media screen and (min-width:1400px) {
    .bgsec4 {
        background: url("../../../assets/bgsec4.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; /* Makes it stretch and cover the full area */
        width: 100%;
        height: 1500px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 370px !important;
    }
}
@media screen and (min-width:1500px) {
    .bgsec4 {
        background: url("../../../assets/bgsec4.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; /* Makes it stretch and cover the full area */
        width: 100%;
        height: 1700px !important; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 150px !important;
    }
    .widthCard4{
        width: 85% !important;
    }
    .name{
        height: 370px;
    }
    
}
@media screen and (min-width:1600px){
    .cardSec3{
    width: 51.45% !important;
  }

  .bgsec4 {
    background: url("../../../assets/bgsec4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Makes it stretch and cover the full area */
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

}

@media screen and (min-width:2000px) {
    .name{
        height: 500px;
    }
.section4Pos{
    top: 1400px;
    left: 290px;
}
.bgsec4{
    background: url('../../../assets/bgsec4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2900px !important;
    
    }
.cardSec3{
width: 50% !important;
}
.widthCard4{
    width: 65% !important;
}
}
@media screen and (min-width:4000px) {

.widthCard4{
    width: 60%;
}
}