.banner{
    background-image: url(../assets/bgImg.svg);
    background-position: 100%;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    position: relative;
}
.gradientText{
    background: linear-gradient(150deg,#213EA5 ,#2241AC, #4FC0FF,#4FC0FF );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (min-width:2000px) {
   
    .width-contact{
        width: 65%;
    }
    .banner{
        background-image: url(../assets/bgImg.svg);
        background-position: 50%;
        background-repeat: no-repeat;
        height: auto;
        width: 100%;
        position: relative;
    }
    .formContact{
        padding-bottom: 200px;
    }
}
