.navbar.fixed{
    background: #060C1C;
    transition: all 0.5s;
    z-index: 100000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
}
@media screen and (max-width:2560px) {
    .width{
        width: 80%;
    }
}
.bg{
    background-color: transparent;
    background: transparent;
}
.navbar2.fixed{
    background: #060C1C;
    transition: all 0.5s;
    z-index: 100000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 50;
    margin-top: 50px;
    transition: all 1s ease-in-out;
    transition-duration: 0.4s;
}
.flow{
    overflow-y: scroll;
}