@import "tailwindcss";
@theme{
  --font-primary:"Poppins", "serif";
  --color-primary:#2241AC;
  --color-darkBg:#010714;
  --color-hoverBg:#515B72;
  --color-btnBg:#2241AC;
  --color-v4:#44A1EB;
  --color-v3:#3A85D9;
  --color-border:#29354D;
  --color-card:#0B101B;


}